@import url("https://p.typekit.net/p.css?s=1&k=ieh3kwv&ht=tk&f=35914&a=19806596&app=typekit&e=css");

@font-face {
font-family:"jumble";
src:url("https://use.typekit.net/af/05eeea/00000000000000007735a9eb/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/05eeea/00000000000000007735a9eb/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/05eeea/00000000000000007735a9eb/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}


* {
    box-sizing: border-box;
    text-align: center;
}

.container {
    /* background-color: beige; */
}

.header {
    background-color: red;
    height: 65vh;
    display: flex;
    /* width: 100vw; */
    background-image: url('./img/meadow_with_bears.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.header-banner-wrapper {
    width: 70vw;
    height: 100%;
    /* background-color:blue; */

}

/* @media only screen and (max-width: 700px) {
    .header-banner-wrapper-title {
        font-size: 15rem;
    }
} */
.header-banner-wrapper-title {
    margin-top: 1rem;
    font-size: 5rem;
    
    text-shadow: 4px 2px black;
    font-family: "jumble",sans-serif;
    /* border: 1px solid red; */
    color: white;
}

.header-banner-wrapper-text {
    /* margin-top: .2rem; */
    font-size: 1.6rem;
    
    text-shadow: 1px 1px black;
    font-family: "jumble",sans-serif;
    /* border: 1px solid red; */
    color: white;
}

.header-banner-wrapper-social-container {
    display:flex;
    justify-content: center;
    opacity: 1;
    
}


svg {
    fill: white;
}

.header-banner-wrapper-social-img {
    height: 100%;
    width: 3vw;
    /* border: 1px solid white; */
    border-radius: 2px;
    margin-left: .3vw;
    margin-right: .3vw;
    opacity: 1;
    /* background-color: purple; */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
      }
}

.header-banner-wrapper-social-img:hover {
    opacity: .5;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}


.header-banner-wrapper-social-text {
    font-size: 1.5rem;
}

.header-left {
    width: 15vw;
    /* background-image: url('img/brown_bear.png');
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: yellow; */
}

.header-right {
    width: 15vw;
    /* background-color: greenyellow; */
}

.main {
    display: flex;
    /* grid-template-columns: 22vh 22vh 22vh;
    grid-template-rows: 22vh 22vh 22vh;  */
}

.main-item-container {
    display: flex;
    /* border: 1px solid blue; */
    justify-content: space-around;
    flex-direction: row;
    margin-top:3rem;
 
}


.main-item {
    width: 22vw;
    height: 30vh;
    /* background-color: orchid; */
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    
}

@media only screen and (max-width: 700px) {
    .main-item-container {
        flex-direction: column;
    }
  }
  
.main-item-img {
    background-image: url('img/moonchild_paci.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid grey;
    border-radius: 4px;
    width: 100%;
    height: 70%;
    margin-bottom: 2%;
    /* border: 1px solid green; */
}

.main-item-price {
    font-size: 1.2rem;
    font-weight: bold;
    /* margin-top: 8%; */
    /* align-self: center; */
    
    /* border: 1px solid orchid; */
}

button.main-item-btn {
    width: 45%;
    align-self: center;
    /* border: 1px solid rgb(204, 204, 204); */
    border: 1px solid #ccc;

    margin-top: .6rem;
    background-color: transparent;
    box-shadow: 0;
    border-radius: 3px;
    opacity: 1;

}


button.main-item-btn:hover {
    background-color: grey;
    /* box-shadow: 1px 1px grey; */
    opacity: .4;

    transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -webkit-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;

    /* transition: box-shadow .2s ease-out;
    -moz-transition: box-shadow .2s ease-out;
    -webkit-transition: box-shadow .2s ease-out;
    -o-transition: box-shadow .2s ease-out; */

    
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}


/* These are for icons */


  /* body {
    background: #3b5998;
    width: 100%;
    margin: 0 auto;
  }
  .center {
    display: table;
    width: 100%;
    height: 100vh;
  }
  #social-test {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
  }
  #social-test .social {
    padding-left: 0px;
  }
  #social-test li {
    display: inline-block;
  }
  #social-test li a {
    color: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    list-style-type: none;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    padding: 1%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease 0.3s;
  }
  #social-test li a:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  .social:hover > li {
    opacity: 0.5;
  }
  .social:hover > li:hover {
    opacity: 1;
  }
  .credits,
  .credits a {
    font-size: 20px;
    font-family: Open Sans;
    color: rgba(255, 255, 255, 0.6);
  }
   */